!!!
%html{ html_attrs('en_us') }
  %head
    %title <%= app_name.humanize.titleize %>
    = stylesheet_link_tag('application')
    = javascript_include_tag('application')
    = csrf_meta_tags

  %body{ class: "#{controller_name} #{action_name}" }
    %header
      %h1= link_to '<%= app_name.humanize.titleize %>', root_path

    %section= yield

    %footer
      %small &copy; #{Time.zone.today.year} <%= app_name.humanize.titleize %>
